[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[user]
	name = Jason Bittel
	email = jason.bittel@urbanairship.com
[core]
	editor = vim
	excludesfile = ~/.dotfiles/.gitignore_global
[github]
	user = jbittel
	token = !cat ~/.github_token 2>&1 >/dev/null
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = red reverse
	local = blue
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	b = branch -vv
	co = checkout
	ff = pull --ff-only
	fix = commit --fixup HEAD
	ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s\\ %Cblue[%cn]" --decorate --date=short
	lsb = log --graph --decorate --oneline --all --simplify-by-decoration
	st = status
	unstage = reset HEAD
	up = push --set-upstream origin HEAD
#	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
#	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
#	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
#	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
#	gl = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
#	lol = log --graph --decorate --pretty=oneline --abbrev-commit
#	c  = commit
#	b  = branch
#	d  = diff
#	dc = diff --cached
#	lg = log
#	a  = add
#	ap = add --patch
#	showref = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' --count=20
[push]
	default = simple
[rerere]
	enabled = true
[rebase]
	autosquash = true
[pull]
	rebase = false
[fetch]
	prune = true
[merge]
	conflictstyle = diff3
