[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[user]
	name = Jason Bittel
	email = jason.bittel@urbanairship.com
[core]
	editor = vim
	excludesfile = ~/.dotfiles/.gitignore_global
[github]
	user = jbittel
	token = !cat ~/.github_token 2>&1 >/dev/null
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = red reverse
	local = blue
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	a = add
	aa = add --all
	b = branch -vv
	c = commit
	cm = commit -m
	d = diff
	ds = diff --staged
	bd = branch -D
	co = checkout
	cob = checkout -b
	com = checkout master
	ff = pull --ff-only
	fix = commit --fixup HEAD
	ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s\\ %Cblue[%cn]" --decorate --date=short
	lsb = log --graph --decorate --oneline --all --simplify-by-decoration
	lsg = log --graph --decorate --oneline --all --date=iso
	mm = merge --no-edit origin/master
	p = push
	st = status
	unstage = reset HEAD --
	up = push --set-upstream origin HEAD
[push]
	default = simple
[rerere]
	enabled = true
[rebase]
	autosquash = true
[pull]
	rebase = false
[fetch]
	prune = true
[merge]
	conflictstyle = diff3
